.card{
    width: 20%;
    padding: 1rem;
}
.pokemon-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokemon-card-image{
    justify-content: center;
    display: flex;
}
.pokemon-card-image img{
    width: 50%;
}

